html, body, h3 {
    margin: 0;
    padding: 0;
}
#first-section {
    background-image: url(green-vegetables-on-brown-wooden-chopping-board-3952047.jpg);
    color: lightgray;
    width: auto;
    height: 650px;
}
h2 {
    color: white;
    margin: 30px 20px;
    font-family: 'Krona One', sans-serif
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(1,1,1,0.5);
}
h3{
    padding-left: 10px;
    margin: 5px 0;
}
#topright {
    display: flex;
    justify-content: right;
    
}
body {
    margin: 0;
}
#first-section h1 {
    color: white;
    font-size: 75px;
    margin: 200px auto 0 auto;
}
#second-section {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 0;
}
img {
   width: 400px;
   height: auto;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.fade {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}
p {
    padding: 10px 5px;
    margin: 5px 0;
}
hr {
    width: 300px;
}
.pineapple {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
}
.img1 {
    align-self: flex-start;
    height: 100%;
}
.bread {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    justify-content: space-between;

}
.pasta {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
}
.content {
    margin: 30px 30px;
    width: 500px;
    height: auto;
}