
#first-section {
    background-image: url(green-vegetables-on-brown-wooden-chopping-board-3952047.jpg);
    color: lightgray;
    width: auto;
    height: 650px;
}
h2 {
    color: black;
}
.top {
    display: flex;
    justify-content: space-between;

}
h3{
    display: flex;
    justify-content: flex-start;
}
#topright {
    display: flex;
    justify-content: right;
    
}
body {
    margin: 0;
}
#first-section h1 {
    color: white;
    font-size: 75px;
}
#second-section {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 0;
}
img {
   width: 300px;
   height: auto;
}
#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.fade {
    background-color: rgba(0,0,0,0.2);
    height: 100%;
}